.ProductForm {
    display: flex;
    flex-direction: column;

    width: 500px;
    background-color: var(--color-container);

    align-self: center;
    border-radius: 2rem;
    padding: 2rem;
    gap: 2rem;
}