footer {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1rem 12rem;
    border-top: 1px solid var(--color-gray);
}

footer small {
    color: var(--text-color-secondary);
}